<div class="auth-form-container">
  <h2 class="auth-form-header">Account Confirmation</h2>

  <p class="auth-form-description">
    Lost or didn't receive an account confirmation email? Provide your email below to re-send the instructions.
  </p>

  <div class="auth-form">
    <%= simple_form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>
      <%= f.error_notification %>
      <%= f.full_error :confirmation_token %>

      <div class="auth-form-inputs form-inputs">
        <%= f.input :email, required: true, autofocus: true %>
      </div>

      <div class="auth-form-actions form-actions">
        <%= f.button :submit, "Submit" %>
      </div>
    <% end %>
  </div>

  <%= render "devise/shared/links" %>
</div>