- if @signed_in
  - if @current_user.artist?
    %p hello! You're signed in as an artist.
    - if @current_user.submissions.any?
      %p You have the following submissions under way:
      %ul
        - @current_user.submissions.each do |submission|
          %li = submission.title #TODO: view, edit
  - elsif @current_user.admin?
    %p hello! You're signed in as an admin.
    %p You can:
    %ul
      %li= link_to "create a grant", new_grant_path
      %li= link_to "manage grants", grants_path
- else
  %h2 For existing account holders
  %p= link_to "artist login", user_session_path
  %p= link_to "admin login", user_session_path

%br

%h3 Grant Status:
- if @open_grants.any?
  %h2 Registration is open
  %p The following Grants are open:
  %ul
    - @open_grants.each do |grant|
      %li= grant.title
  %br
  - if @signed_in && @current_user.artist?
    - if @current_user.confirmed?
      looks like you're already signed in with an artist account. Do you want to
      = link_to "create a new submission", submissions_pre_registration_info_path
      ?
    - else
      %p Woops! Looked like you haven't confirmed your account yet. Please go back to your email and confirm your artist account, then come back to start a submission :)
  - elsif not @signed_in
    %p
      = link_to "Register as an artist", new_user_registration_path
      in order to submit an application.
- else
  %h2 Registration is closed

