%h1 This is a Grant.


%div
  %strong Title:
  = @grant.title

%div
  %strong Total Amount:
  = @grant.total_amount

%div
  %strong Submission Amounts:
  = @grant.submission_amount_range

%div
  %strong Submissions Open:
  = @grant.submissions_open_at

%div
  %strong Submissions Close:
  = @grant.submissions_close_at